@charset "utf-8";

/* variables */
:root {
  --primary: #24b4d7;
  --secondary: #4dc4e1;
  --purple: #918eec;
  --white: #fff;
  --black: #000;
  --gray: #333;
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-purple: var(--purple);
  --color-white: var(--white);
  --color-black: var(--black);
  --color-gray: var(--gray);
  --background-primary: var(--primary);
  --background-secondary: var(--secondary);
  --background-purple: var(--purple);
  --background-white: var(--white);
  --background-black: var(--black);
  --background-gray: var(--gray);
  --background-transparent: transparent;
  --font-size-largest: calc(1rem * 2);
  --font-size-larger: calc(1rem * 1.5);
  --font-size-large: calc(1rem * 1.25);
  --font-size-small: calc(1rem * 0.75);
  --font-size-smaller: calc(1rem * 0.5);
  --font-weight-thin: 200;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --line-height-normal: 1.5;
  --line-height-dense: 1.2;
}

/* --- base --- */

* {
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue',
    'Noto Sans', 'Liberation Sans', Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  background-color: var(--background-white);
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  line-height: 1.2;
}

h1,
.display-h1 {
  font-size: calc(1.375rem + 1.5vw);
}
@media (min-width: 1025px) {
  h1,
  .display-h1 {
    font-size: 2.5rem;
  }
}

h2,
.display-h2 {
  font-size: calc(1.325rem + 0.9vw);
}
@media (min-width: 1025px) {
  h2,
  .display-h2 {
    font-size: 2rem;
  }
}

h3,
.display-h3 {
  font-size: calc(1.3rem + 0.6vw);
}
@media (min-width: 1025px) {
  h3,
  .display-h3 {
    font-size: 1.75rem;
  }
}

h4,
.display-h4 {
  font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1025px) {
  h4,
  .display-h4 {
    font-size: 1.5rem;
  }
}

h5,
.display-h5 {
  font-size: 1.25rem;
}

h6,
.display-h6 {
  font-size: 1rem;
}

/* button */
.button {
  display: inline-block;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-normal);
  color: var(--color-white);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: none;
  border-radius: 0.2rem;
  background-color: var(--background-primary);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.button-link {
  color: var(--color-primary);
  background-color: var(--background-transparent);
}

a.button {
  text-decoration: none;
}

/* footer */
.footer {
  height: 5.875rem;
  background-color: var(--background-gray);
}

/* header */
@-moz-keyframes reveal-header {
  0% {
    top: -4.375rem;
  }

  100% {
    top: 0;
  }
}

@-webkit-keyframes reveal-header {
  0% {
    top: -4.375rem;
  }

  100% {
    top: 0;
  }
}

@-ms-keyframes reveal-header {
  0% {
    top: -4.375rem;
  }

  100% {
    top: 0;
  }
}

@keyframes reveal-header {
  0% {
    top: -4.375rem;
  }

  100% {
    top: 0;
  }
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 4.375rem;
  z-index: 10000;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.header.static {
  position: absolute;
  animation: none;
  background: transparent;
  box-shadow: none;
}

.header.dynamic {
  -moz-animation: reveal-header 0.5s;
  -webkit-animation: reveal-header 0.5s;
  -ms-animation: reveal-header 0.5s;
  animation: reveal-header 0.5s;
}

.header > .header__logo {
  padding-left: 0.75rem;
}

.header > .header__nav {
  padding-right: 0.75rem;
}

.header > .header__nav .button-link {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* --- modules --- */

/* block */
.block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.25rem;
  min-height: 5rem;
  color: var(--color-white);
}

/* card */
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: var(--background-white);
  background-clip: border-box;
  border: none;
  border-radius: 0;
}

.card-badge {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.25rem 0.5rem;
  color: var(--color-white);
  background-color: rgba(0, 0, 0, 0.5);
}

.card-img,
.card-img-top {
  width: 100%;
  max-height: 12.5rem;
}

.card-title {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1.25rem;
  margin-bottom: 1rem;
  font-size: var(--font-size-large);
}

.card-body {
  flex: 1 1 auto;
  padding: 1rem;
  color: var(--color-black);
}

.card-title + .card-body {
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
}

/* contents */

.section-landing {
  height: 55.5rem;
  background-image: url('../images/banr_snow.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.section-signup {
  position: relative;
  top: -3.5rem;
  background-color: var(--background-transparent);
}

.section-signup > .container {
  max-width: 67rem;
}

.section-learn-more {
  background-color: var(--background-white);
}

.section-learn-more > .container {
  max-width: 80rem;
}

.section-learn-more .section-learn-more__row-background {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 31.25rem;
  background-image: url('../images/media_talk.jpg');
  background-repeat: no-repeat;
  background-size: auto 500px;
  background-position: top right;
  clip-path: polygon(63% 0, 100% 0%, 78% 100%, 40% 100%);
}

.section-learn-more .section-learn-more__video-button {
  width: 48.375rem;
  height: 18.75rem;
  border: none;
  background-image: linear-gradient(
      135deg,
      rgba(0, 0, 0, 0.25) 25%,
      transparent 25%,
      transparent 50%,
      rgba(0, 0, 0, 0.25) 50%,
      rgba(0, 0, 0, 0.25) 75%,
      transparent 75%,
      transparent 100%
    ),
    url('../images/media_video.jpg');
  background-repeat: repeat, no-repeat;
  background-size: 7.5px 7.5px, cover;
  background-position: top, top;
  clip-path: polygon(22% 0, 100% 0%, 78% 100%, 0 100%);
}

.section-learn-more .section-learn-more__video-button > img {
  opacity: 0.75;
}

.section-steps {
  background-image: linear-gradient(
    135deg,
    var(--secondary) 25%,
    var(--primary) 25%,
    var(--primary) 50%,
    var(--secondary) 50%,
    var(--secondary) 75%,
    var(--primary) 75%,
    var(--primary) 100%
  );
  background-size: 8.49px 8.49px;
}

.section-steps h3 {
  position: relative;
}

.section-steps h3::after {
  position: absolute;
  left: 2em;
  bottom: -1rem;
  width: 3rem;
  height: 3px;
  background-color: var(--background-black);
  content: '';
  transform: translateX(-50%);
}

.section-steps .card {
  width: 22.5rem;
}

.section-result {
  height: 500px;
  background-color: var(--background-white);
}

/* grid */
.container,
.container-fluid {
  position: relative;
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-right: -0.75rem;
  margin-left: -0.75rem;
}

.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-top: 1rem;
}

.col {
  flex: 1 0 0%;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.33333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.66666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.66666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.33333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.66666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.33333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.66666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

@media (min-width: 481px) {
  .container {
    max-width: 540px;
  }

  .col-sm {
    flex: 1 0 0%;
  }

  .col-sm-auto {
    flex: 0 0 auto;
    width: auto;
  }

  .col-sm-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }

  .col-sm-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }

  .col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .col-sm-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }

  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-sm-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }

  .col-sm-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }

  .col-sm-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-sm-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }

  .col-sm-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }

  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}

@media (min-width: 769px) {
  .container {
    max-width: 720px;
  }

  .col-md {
    flex: 1 0 0%;
  }

  .col-md-auto {
    flex: 0 0 auto;
    width: auto;
  }

  .col-md-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }

  .col-md-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }

  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-md-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .col-md-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }

  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-md-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }

  .col-md-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }

  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-md-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }

  .col-md-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }

  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}

@media (min-width: 1025px) {
  .container {
    max-width: 1200px;
  }

  .col-lg {
    flex: 1 0 0%;
  }

  .col-lg-auto {
    flex: 0 0 auto;
    width: auto;
  }

  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }

  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }

  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }

  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }

  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }

  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }

  .col-lg-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }

  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 2rem;
}

/* .grid > .col:nth-child(-1n + 3) {
  grid-column: span 4;
} */

/* .grid > .col:nth-last-child(2) {
  grid-row-start: 2;
  grid-column: 3 / span 4;
}

.grid > .col:nth-last-child(1) {
  grid-row-start: 2;
  grid-column: 7 / span 4;
} */

/* jumbo */
.jumbo {
  padding: 5rem;
  width: 45.5rem;
  background-image: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent 100%
  );
  background-size: 7.5px 7.5px;
  color: var(--color-primary);
  font-weight: var(--font-weight-bold);
  letter-spacing: 0.2rem;
}

.jumbo > h1,
.jumbo > .display-h1 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-size: 3.75rem;
}

.jumbo > h2,
.jumbo > .display-h2 {
  margin-bottom: 0.75rem;
  font-size: 2rem;
}

.jumbo > p {
  margin-top: 0;
  font-size: 1.75rem;
}

/* --- utility --- */

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.items-stretch {
  align-items: stretch;
}

.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.items-end {
  align-items: flex-end;
}

.items-baseline {
  align-items: baseline;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-shrink {
  flex-shrink: 1 !important;
}

.flex-grow {
  flex-grow: 1 !important;
}

.font-size-largest {
  font-size: var(--font-size-largest);
}

.font-size-larger {
  font-size: var(--font-size-larger);
}

.font-size-large {
  font-size: var(--font-size-large);
}

.font-size-small {
  font-size: var(--font-size-small);
}

.font-size-smaller {
  font-size: var(--font-size-smaller);
}

.font-weight-thin {
  font-weight: var(--font-weight-thin);
}

.font-weight-normal {
  font-weight: var(--font-weight-normal);
}

.font-weight-bold {
  font-weight: var(--font-weight-bold);
}

.color-primary {
  color: var(--color-primary);
}

.color-secondary {
  color: var(--color-secondary);
}

.color-purple {
  color: var(--color-purple);
}

.color-white {
  color: var(--color-white);
}

.bg-primary {
  background-color: var(--background-primary);
}

.bg-secondary {
  background-color: var(--background-secondary);
}

.bg-purple {
  background-color: var(--background-purple);
}

.bg-white {
  background-color: var(--background-white);
}

.bg-transparent {
  background-color: var(--background-transparent);
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 0.25rem;
}

.p-2 {
  padding: 0.5rem;
}

.p-3 {
  padding: 1rem;
}

.p-4 {
  padding: 2rem;
}

.p-5 {
  padding: 3rem;
}

.p-6 {
  padding: 5rem;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-3 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-4 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.px-5 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.px-6 {
  padding-left: 5rem;
  padding-right: 5rem;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-4 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.py-5 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.py-6 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.pl-0 {
  padding-left: 0;
}

.pl-1 {
  padding-left: 0.25rem;
}

.pl-2 {
  padding-left: 0.5rem;
}

.pl-3 {
  padding-left: 1rem;
}

.pl-4 {
  padding-left: 2rem;
}

.pl-5 {
  padding-left: 3rem;
}

.pl-6 {
  padding-left: 5rem;
}

.pr-0 {
  padding-right: 0;
}

.pr-1 {
  padding-right: 0.25rem;
}

.pr-2 {
  padding-right: 0.5rem;
}

.pr-3 {
  padding-right: 1rem;
}

.pr-4 {
  padding-right: 2rem;
}

.pr-5 {
  padding-right: 3rem;
}

.pr-6 {
  padding-right: 5rem;
}

.pt-0 {
  padding-top: 0;
}

.pt-1 {
  padding-top: 0.25rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pt-3 {
  padding-top: 1rem;
}

.pt-4 {
  padding-top: 2rem;
}

.pt-5 {
  padding-top: 3rem;
}

.pt-6 {
  padding-top: 5rem;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.pb-3 {
  padding-bottom: 1rem;
}

.pb-4 {
  padding-bottom: 2rem;
}

.pb-5 {
  padding-bottom: 3rem;
}

.pb-6 {
  padding-bottom: 5rem;
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: 0.25rem;
}

.m-2 {
  margin: 0.5rem;
}

.m-3 {
  margin: 1rem;
}

.m-4 {
  margin: 2rem;
}

.m-5 {
  margin: 3rem;
}

.m-6 {
  margin: 5rem;
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.mx-3 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.mx-4 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.mx-5 {
  margin-left: 3rem;
  margin-right: 3rem;
}

.mx-6 {
  margin-left: 5rem;
  margin-right: 5rem;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.my-3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-4 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.my-5 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.my-6 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: 0.25rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.ml-3 {
  margin-left: 1rem;
}

.ml-4 {
  margin-left: 2rem;
}

.ml-5 {
  margin-left: 3rem;
}

.ml-6 {
  margin-left: 5rem;
}

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: 0.25rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mr-3 {
  margin-right: 1rem;
}

.mr-4 {
  margin-right: 2rem;
}

.mr-5 {
  margin-right: 3rem;
}

.mr-6 {
  margin-right: 5rem;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-3 {
  margin-top: 1rem;
}

.mt-4 {
  margin-top: 2rem;
}

.mt-5 {
  margin-top: 3rem;
}

.mt-6 {
  margin-top: 5rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-3 {
  margin-bottom: 1rem;
}

.mb-4 {
  margin-bottom: 2rem;
}

.mb-5 {
  margin-bottom: 3rem;
}

.mb-6 {
  margin-bottom: 5rem;
}
