@charset "utf-8";

/* variables */
:root {
  --primary: #24b4d7;
  --secondary: #4dc4e1;
  --purple: #918eec;
  --white: #fff;
  --black: #000;
  --gray: #333;
  --lightgray: #eaeaea;
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-purple: var(--purple);
  --color-white: var(--white);
  --color-black: var(--black);
  --color-gray: var(--gray);
  --color-lightgray: var(--lightgray);
  --background-primary: var(--primary);
  --background-secondary: var(--secondary);
  --background-purple: var(--purple);
  --background-white: var(--white);
  --background-black: var(--black);
  --background-gray: var(--gray);
  --background-lightgray: var(--lightgray);
  --background-transparent: transparent;
  --font-size-base: 16px;
  --font-size-largest: calc(1rem * 2);
  --font-size-larger: calc(1rem * 1.5);
  --font-size-large: calc(1rem * 1.25);
  --font-size-small: calc(1rem * 0.75);
  --font-size-smaller: calc(1rem * 0.5);
  --font-size-h1: calc(1.375rem + 1.5vw);
  --font-size-h2: calc(1.325rem + 0.9vw);
  --font-size-h3: calc(1.3rem + 0.6vw);
  --font-size-h4: calc(1.275rem + 0.3vw);
  --font-size-h5: 1.25rem;
  --font-size-h6: 1rem;
  --font-weight-thin: 200;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --line-height-normal: 1.5;
  --line-height-dense: 1.2;
}

/* --- base --- */

* {
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue',
    'Noto Sans', 'Liberation Sans', Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  box-sizing: border-box;
}

html {
  font-size: var(--font-size-base);
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-size: 1rem;
  font-weight: var(--font-weight-normal);
  line-height: 1.5;
  text-align: left;
  background-color: var(--background-white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  line-height: 1.2;
}

h1,
.display-h1 {
  font-size: var(--font-size-h1);
}

h2,
.display-h2 {
  font-size: var(--font-size-h2);
}

h3,
.display-h3 {
  font-size: var(--font-size-h3);
}

h4,
.display-h4 {
  font-size: var(--font-size-h4);
}

h5,
.display-h5 {
  --font-size-h5: 1.25rem;
  font-size: var(--font-size-h5);
}

h6,
.display-h6 {
  --font-size-h6: 1rem;
  font-size: var(--font-size-h6);
}

/* button */
.button {
  display: inline-block;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-normal);
  color: var(--color-white);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: none;
  border-radius: 0.2rem;
  background-color: var(--background-primary);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.button-link {
  color: var(--color-primary);
  background-color: var(--background-transparent);
}

a.button {
  text-decoration: none;
}

/* footer */
.footer {
  color: var(--color-white);
  background-color: var(--background-gray);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media (max-width: 481px) {
  .footer .col {
    text-align: center;
  }
}

/* header */
@-moz-keyframes reveal-header {
  0% {
    top: -4.375rem;
  }

  100% {
    top: 0;
  }
}

@-webkit-keyframes reveal-header {
  0% {
    top: -4.375rem;
  }

  100% {
    top: 0;
  }
}

@keyframes reveal-header {
  0% {
    top: -4.375rem;
  }

  100% {
    top: 0;
  }
}

@-moz-keyframes expand-header {
  0% {
    top: -2rem;
    opacity: 0;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}

@-webkit-keyframes expand-header {
  0% {
    top: -2rem;
    opacity: 0;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes expand-header {
  0% {
    top: -2rem;
    opacity: 0;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}

.header {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 4.375rem;
  z-index: 10;
}

.header.static {
  position: absolute;
  animation-direction: alternate;
  background: transparent;
  box-shadow: none;
}

.header.dynamic {
  position: fixed;
  top: 0;
  background-color: rgba(255, 255, 255, 0.85);
  -moz-animation: reveal-header 0.3s;
  -webkit-animation: reveal-header 0.3s;
  -ms-animation: reveal-header 0.3s;
  animation: reveal-header 0.3s;
  z-index: 99;
}

.header > .container-fluid {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  display: inline-block;
  padding-top: 0.5rem;
  padding-bottom: 0;
  margin-left: 0.75rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.header__logo:hover,
.header__logo:focus {
  text-decoration: none;
}

.header-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: flex-start;
  position: relative;
}

.header-collapse.show {
  display: block;
  -moz-animation: expand-header 0.3s;
  -webkit-animation: expand-header 0.3s;
  -ms-animation: expand-header 0.3s;
  animation: expand-header 0.3s;
}

.header-collapse.show > .header__nav {
  position: absolute;
}

.header-collapse:not(.show) {
  display: none;
  animation-direction: alternate;
}

.header__nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 0;
  margin-bottom: 0;
  width: 100%;
  list-style: none;
  background-color: rgba(255, 255, 255, 0.85);
}

.header__nav > .button-link {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  width: 100%;
  text-align: left;
}

.header.dynamic .header__nav .button-link {
  color: var(--color-black);
}

.header__toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.header__toggler:hover,
.header__toggler:focus {
  text-decoration: none;
}

.header__toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: '';
  background: no-repeat center center;
  background-image: url('../images/bars-solid.svg');
  background-size: 100% 100%;
}

@media (min-width: 481px) {
  .header.dynamic {
    top: 0;
  }

  .header__nav {
    position: relative !important;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1rem;
    background-color: var(--background-transparent);
  }

  .header__nav .button-link {
    padding-right: 0;
    padding-left: 0;
  }

  .header-expand-sm {
    flex-flow: row nowrap;
    justify-content: flex-start;
  }

  .header-expand-sm .header__nav {
    flex-direction: row;
  }

  .header-expand-sm .header__nav .button-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  .header-expand-sm > .container-fluid {
    flex-wrap: nowrap;
  }

  .header-expand-sm .header-collapse {
    display: flex !important;
    flex-grow: 0;
    flex-basis: auto;
    justify-content: flex-end;
  }

  .header-expand-sm .header__toggler {
    display: none;
  }
}

.header.dynamic + section {
  margin-top: -4.375rem;
}

/* table */
table {
  border-collapse: collapse;
}

thead,
tbody,
tfoot,
tr,
td,
th {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

.table {
  margin-bottom: 1rem;
  width: 100%;
  color: var(--color-black);
  vertical-align: top;
  border-color: lightgray;
}

.table > :not(caption) > * > * {
  padding: 0.75rem;
  border-bottom-width: 1px;
}

.table > thead {
  color: var(--color-gray);
  background-color: var(--background-lightgray);
  vertical-align: bottom;
}

.table > tbody {
  vertical-align: inherit;
}

.table-bordered > :not(caption) > * {
  border-width: 1px 0;
}

.table-bordered > :not(caption) > * > * {
  border-width: 0 1px;
}

.table-striped > tbody > tr:nth-of-type(even) > * {
  background-color: rgba(0, 0, 0, 0.05);
  color: var(--color-black);
}

.table-hover > tbody > tr:hover > * {
  background-color: rgba(0, 0, 0, 0.055);
  color: var(--color-black);
}

@media (min-width: 481px) {
  .table > :not(caption) > * > * {
    padding: 1rem;
  }
}

/* --- modules --- */

/* block */
.block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.25rem;
  min-height: 8rem;
  color: var(--color-white);
}

/* card */
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: var(--background-white);
  background-clip: border-box;
  border: none;
  border-radius: 0;
}

.card-badge {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.25rem 0.5rem;
  color: var(--color-white);
  background-color: rgba(0, 0, 0, 0.5);
}

.card-img,
.card-img-top {
  width: 100%;
  height: 12.5rem;
}

.card-title {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1.25rem;
  margin-bottom: 1rem;
  font-size: var(--font-size-large);
}

.card-body {
  flex: 1 1 auto;
  padding: 1rem;
  color: var(--color-black);
}

.card-title + .card-body {
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
}

/* contents */
.section-landing {
  position: relative;
  height: 39.375rem;
}

@media (min-width: 480px) {
  .section-landing {
    height: 55.5rem;
  }
}

.section-signup {
  position: relative;
  top: 0;
  background-color: var(--background-transparent);
}

.section-signup .fixed-size {
  width: 100%;
  min-width: 100%;
}

@media (min-width: 480px) {
  .section-signup {
    top: -3.5rem;
  }

  .section-signup > .container {
    max-width: 75rem;
  }

  .section-signup .row.no-gutters {
    margin-left: -1rem;
    margin-right: -1rem;
  }

  .section-signup .row.no-gutters > .col,
  .section-signup .row.no-gutters > [class*='col-'] {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

.section-signup .fixed-size > .block {
  height: 100%;
}

.section-learn-more {
  background-color: var(--background-white);
}

.section-learn-more .section-learn-more__row-background {
  position: relative;
  margin-left: 0;
  margin-right: 0;
  clip-path: none;
}

.section-learn-more .section-learn-more__row-background img {
  width: 100%;
  height: auto;
}

@media (min-width: 480px) {
  .section-learn-more .section-learn-more__row-background {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    text-align: right;
    clip-path: polygon(63% 0, 100% 0%, 78% 100%, 40% 100%);
  }

  .section-learn-more .section-learn-more__row-background img {
    width: auto;
    height: auto;
    max-height: 500px;
  }
}

.section-learn-more .section-learn-more__video-button {
  width: 48.375rem;
  height: 18.75rem;
  border: none;
  background-image: linear-gradient(
      135deg,
      rgba(0, 0, 0, 0.25) 25%,
      transparent 25%,
      transparent 50%,
      rgba(0, 0, 0, 0.25) 50%,
      rgba(0, 0, 0, 0.25) 75%,
      transparent 75%,
      transparent 100%
    ),
    url('../images/media_video.jpg');
  background-repeat: repeat, no-repeat;
  background-size: 7.5px 7.5px, cover;
  background-position: top, top;
  clip-path: polygon(22% 0, 100% 0%, 78% 100%, 0 100%);
}

.section-learn-more .section-learn-more__video-button > img {
  opacity: 0.75;
}

@media (max-width: 481px) {
  .section-learn-more .section-learn-more__row-2 {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    height: 300px;
  }

  .section-learn-more .section-learn-more__video-button {
    width: 100%;
    height: 300px;
    background-size: 7.5px 7.5px, auto 100%;
    clip-path: none;
  }
}

.section-steps {
  background-image: linear-gradient(
    135deg,
    var(--secondary) 25%,
    var(--primary) 25%,
    var(--primary) 50%,
    var(--secondary) 50%,
    var(--secondary) 75%,
    var(--primary) 75%,
    var(--primary) 100%
  );
  background-size: 8.49px 8.49px;
}

.section-steps h2 {
  position: relative;
}

.section-steps h2::after {
  position: absolute;
  left: 2em;
  bottom: -1rem;
  width: 3rem;
  height: 3px;
  background-color: var(--background-black);
  content: '';
  transform: translateX(-50%);
}

.section-steps .card {
  width: 22.5rem;
  margin: 2rem;
}

.section-steps .card + .card::before {
  position: absolute;
  top: 7.5rem;
  left: -3rem;
  content: '≫';
  font-size: 3rem;
  color: var(--color-white);
}

@media (max-width: 481px) {
  .section-steps .card + .card::before {
    position: absolute;
    top: -4.25rem;
    left: 50%;
    content: '»';
    font-size: 3rem;
    color: var(--color-white);
    transform: translateX(-50%) rotate(90deg);
  }
}

.section-result .col-12 > div {
  background-color: var(--background-white);
}

@media (max-width: 481px) {
  .section-result .table {
    font-size: var(--font-size-small);
  }
}

/* grid */
.container {
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
}

.container-fluid {
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 480px) {
  .container,
  .container-fluid {
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .container,
  .container-fluid {
    max-width: 100%;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1400px;
  }

  .container-fluid {
    max-width: 100%;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -1rem;
  margin-left: -1rem;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto {
  position: relative;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}

.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  min-width: 0;
  max-width: 100%;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.col-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.col-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.col-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.col-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.col-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 480px) {
  .col-sm {
    flex-basis: 0;
    flex-grow: 1;
    min-width: 0;
    max-width: 100%;
  }

  .col-sm-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .col-sm-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .col-sm-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-sm-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .col-sm-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-sm-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .col-sm-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-sm-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .col-sm-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .col-md {
    flex-basis: 0;
    flex-grow: 1;
    min-width: 0;
    max-width: 100%;
  }

  .col-md-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .col-md-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .col-md-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-md-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .col-md-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-md-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .col-md-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-md-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .col-md-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 1024px) {
  .col-lg {
    flex-basis: 0;
    flex-grow: 1;
    min-width: 0;
    max-width: 100%;
  }

  .col-lg-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .col-lg-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .col-lg-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-lg-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .col-lg-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-lg-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .col-lg-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-lg-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .col-lg-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 1280px) {
  .col-xl {
    flex-basis: 0;
    flex-grow: 1;
    min-width: 0;
    max-width: 100%;
  }

  .col-xl-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .col-xl-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .col-xl-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-xl-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .col-xl-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-xl-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .col-xl-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .col-xl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-xl-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .col-xl-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .col-xl-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.no-gutters > .col,
.no-gutters > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

/* jumbo */
.jumbo {
  margin: 1rem;
  padding: 1rem;
  width: 100%;
  background-image: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent 100%
  );
  background-size: 7.5px 7.5px;
  color: var(--color-primary);
  font-weight: var(--font-weight-bold);
  letter-spacing: 0.2rem;
}

.jumbo > h1,
.jumbo > .display-h1 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-size: var(--font-size-h1);
}

.jumbo > h2,
.jumbo > .display-h2 {
  margin-bottom: 0.75rem;
  font-size: var(--font-size-h2);
}

.jumbo > p {
  margin-top: 0;
  font-size: var(--font-size-base);
}

@media (min-width: 480px) {
  .jumbo {
    padding: 4rem;
    width: 45.5rem;
  }

  .jumbo > h1,
  .jumbo > .display-h1 {
    margin-top: 0;
    margin-bottom: 2rem;
    font-size: 3.75rem;
  }

  .jumbo > h2,
  .jumbo > .display-h2 {
    margin-bottom: 0.75rem;
    font-size: 2rem;
  }

  .jumbo > p {
    margin-top: 0;
    font-size: 1.75rem;
  }
}

/* slider */
.slider {
  width: 100vw;
  height: 39.375rem;
  position: absolute;
  overflow: hidden;
}

.slider > .slide {
  opacity: 0;
  width: 100vw;
  height: 39.375rem;
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  transition: 1s ease;
  z-index: -1;
}

@media (min-width: 480px) {
  .slider {
    height: 55.5rem;
  }

  .slider > .slide {
    height: 55.5rem;
  }
}

.slide[data-slide='0'] {
  background-image: url('../images/banr_ice.jpg');
}

.slide[data-slide='1'] {
  background-image: url('../images/banr_mountain.jpg');
}

.slide[data-slide='2'] {
  background-image: url('../images/banr_run.jpg');
}

.slide[data-slide='3'] {
  background-image: url('../images/banr_snow.jpg');
}

.slider > .slide.active {
  opacity: 1;
}

/* stepper */
.stepper-upper-text {
  display: flex;
  flex-direction: row;
  position: relative;
  top: -0.8rem;
  width: 100%;
  height: 1rem;
}

.stepper-upper-text > div {
  position: absolute;
  word-break: keep-all;
  transform: translateX(-50%);
}

.stepper {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 0.4rem;
  overflow: hidden;
  background-color: #ddd;
}

.stepper > .stepper-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 0.4rem;
  overflow: hidden;
  background-color: #22a9ca;
}

.stepper-progress {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  top: -0.4rem;
  width: 100%;
  height: 0.4rem;
}

.stepper-progress > .stepper-progress-step {
  position: absolute;
  top: -0.4rem;
  width: 1.2rem;
  height: 1.2rem;
  border: 0.4rem solid #ddd;
  border-radius: 50%;
  background-color: var(--background-white);
  transform: translateX(-50%);
}

.stepper-progress > .stepper-progress-step.active {
  border-color: #22a9ca;
}

.stepper-lower-text {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 0.2rem;
  width: 100%;
  height: 1rem;
}

.stepper-lower-text > div {
  position: absolute;
  word-break: keep-all;
  transform: translateX(-50%);
}

/* --- utility --- */

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.items-stretch {
  align-items: stretch;
}

.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.items-end {
  align-items: flex-end;
}

.items-baseline {
  align-items: baseline;
}

.flex-wrap {
  flex-wrap: wrap;
}

@media (max-width: 481px) {
  .order-xs-1 {
    order: -1;
  }
}

.position-relative {
  position: relative;
}

.font-size-largest {
  font-size: var(--font-size-largest);
}

.font-size-larger {
  font-size: var(--font-size-larger);
}

.font-size-large {
  font-size: var(--font-size-large);
}

.font-size-small {
  font-size: var(--font-size-small);
}

.font-size-smaller {
  font-size: var(--font-size-smaller);
}

.font-weight-thin {
  font-weight: var(--font-weight-thin);
}

.font-weight-normal {
  font-weight: var(--font-weight-normal);
}

.font-weight-bold {
  font-weight: var(--font-weight-bold);
}

.text-center {
  text-align: center;
}

.color-primary {
  color: var(--color-primary);
}

.color-secondary {
  color: var(--color-secondary);
}

.color-purple {
  color: var(--color-purple);
}

.color-white {
  color: var(--color-white);
}

.color-black {
  color: var(--color-black);
}

.color-gray {
  color: var(--color-gray);
}

.color-lightgray {
  color: var(--color-lightgray);
}

.bg-primary {
  background-color: var(--background-primary);
}

.bg-secondary {
  background-color: var(--background-secondary);
}

.bg-purple {
  background-color: var(--background-purple);
}

.bg-white {
  background-color: var(--background-white);
}

.bg-black {
  background-color: var(--background-black);
}

.bg-gray {
  background-color: var(--background-gray);
}

.bg-lightgray {
  background-color: var(--background-lightgray);
}

.bg-transparent {
  background-color: var(--background-transparent);
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 0.25rem;
}

.p-2 {
  padding: 0.5rem;
}

.p-3 {
  padding: 1rem;
}

.p-4 {
  padding: 2rem;
}

.p-5 {
  padding: 3rem;
}

.p-6 {
  padding: 5rem;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-3 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-4 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.px-5 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.px-6 {
  padding-left: 5rem;
  padding-right: 5rem;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-4 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.py-5 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.py-6 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.pl-0 {
  padding-left: 0;
}

.pl-1 {
  padding-left: 0.25rem;
}

.pl-2 {
  padding-left: 0.5rem;
}

.pl-3 {
  padding-left: 1rem;
}

.pl-4 {
  padding-left: 2rem;
}

.pl-5 {
  padding-left: 3rem;
}

.pl-6 {
  padding-left: 5rem;
}

.pr-0 {
  padding-right: 0;
}

.pr-1 {
  padding-right: 0.25rem;
}

.pr-2 {
  padding-right: 0.5rem;
}

.pr-3 {
  padding-right: 1rem;
}

.pr-4 {
  padding-right: 2rem;
}

.pr-5 {
  padding-right: 3rem;
}

.pr-6 {
  padding-right: 5rem;
}

.pt-0 {
  padding-top: 0;
}

.pt-1 {
  padding-top: 0.25rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pt-3 {
  padding-top: 1rem;
}

.pt-4 {
  padding-top: 2rem;
}

.pt-5 {
  padding-top: 3rem;
}

.pt-6 {
  padding-top: 5rem;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.pb-3 {
  padding-bottom: 1rem;
}

.pb-4 {
  padding-bottom: 2rem;
}

.pb-5 {
  padding-bottom: 3rem;
}

.pb-6 {
  padding-bottom: 5rem;
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: 0.25rem;
}

.m-2 {
  margin: 0.5rem;
}

.m-3 {
  margin: 1rem;
}

.m-4 {
  margin: 2rem;
}

.m-5 {
  margin: 3rem;
}

.m-6 {
  margin: 5rem;
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.mx-3 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.mx-4 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.mx-5 {
  margin-left: 3rem;
  margin-right: 3rem;
}

.mx-6 {
  margin-left: 5rem;
  margin-right: 5rem;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.my-3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-4 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.my-5 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.my-6 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: 0.25rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.ml-3 {
  margin-left: 1rem;
}

.ml-4 {
  margin-left: 2rem;
}

.ml-5 {
  margin-left: 3rem;
}

.ml-6 {
  margin-left: 5rem;
}

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: 0.25rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mr-3 {
  margin-right: 1rem;
}

.mr-4 {
  margin-right: 2rem;
}

.mr-5 {
  margin-right: 3rem;
}

.mr-6 {
  margin-right: 5rem;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-3 {
  margin-top: 1rem;
}

.mt-4 {
  margin-top: 2rem;
}

.mt-5 {
  margin-top: 3rem;
}

.mt-6 {
  margin-top: 5rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-3 {
  margin-bottom: 1rem;
}

.mb-4 {
  margin-bottom: 2rem;
}

.mb-5 {
  margin-bottom: 3rem;
}

.mb-6 {
  margin-bottom: 5rem;
}

.elevation-1 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.elevation-2 {
  box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.1);
}

.left-0 {
  left: 0%;
}
.left-1 {
  left: 1%;
}
.left-2 {
  left: 2%;
}
.left-3 {
  left: 3%;
}
.left-4 {
  left: 4%;
}
.left-5 {
  left: 5%;
}
.left-6 {
  left: 6%;
}
.left-7 {
  left: 7%;
}
.left-8 {
  left: 8%;
}
.left-9 {
  left: 9%;
}
.left-10 {
  left: 10%;
}
.left-11 {
  left: 11%;
}
.left-12 {
  left: 12%;
}
.left-13 {
  left: 13%;
}
.left-14 {
  left: 14%;
}
.left-15 {
  left: 15%;
}
.left-16 {
  left: 16%;
}
.left-17 {
  left: 17%;
}
.left-18 {
  left: 18%;
}
.left-19 {
  left: 19%;
}
.left-20 {
  left: 20%;
}
.left-21 {
  left: 21%;
}
.left-22 {
  left: 22%;
}
.left-23 {
  left: 23%;
}
.left-24 {
  left: 24%;
}
.left-25 {
  left: 25%;
}
.left-26 {
  left: 26%;
}
.left-27 {
  left: 27%;
}
.left-28 {
  left: 28%;
}
.left-29 {
  left: 29%;
}
.left-30 {
  left: 30%;
}
.left-31 {
  left: 31%;
}
.left-32 {
  left: 32%;
}
.left-33 {
  left: 33%;
}
.left-34 {
  left: 34%;
}
.left-35 {
  left: 35%;
}
.left-36 {
  left: 36%;
}
.left-37 {
  left: 37%;
}
.left-38 {
  left: 38%;
}
.left-39 {
  left: 39%;
}
.left-40 {
  left: 40%;
}
.left-41 {
  left: 41%;
}
.left-42 {
  left: 42%;
}
.left-43 {
  left: 43%;
}
.left-44 {
  left: 44%;
}
.left-45 {
  left: 45%;
}
.left-46 {
  left: 46%;
}
.left-47 {
  left: 47%;
}
.left-48 {
  left: 48%;
}
.left-49 {
  left: 49%;
}
.left-50 {
  left: 50%;
}
.left-51 {
  left: 51%;
}
.left-52 {
  left: 52%;
}
.left-53 {
  left: 53%;
}
.left-54 {
  left: 54%;
}
.left-55 {
  left: 55%;
}
.left-56 {
  left: 56%;
}
.left-57 {
  left: 57%;
}
.left-58 {
  left: 58%;
}
.left-59 {
  left: 59%;
}
.left-60 {
  left: 60%;
}
.left-61 {
  left: 61%;
}
.left-62 {
  left: 62%;
}
.left-63 {
  left: 63%;
}
.left-64 {
  left: 64%;
}
.left-65 {
  left: 65%;
}
.left-66 {
  left: 66%;
}
.left-67 {
  left: 67%;
}
.left-68 {
  left: 68%;
}
.left-69 {
  left: 69%;
}
.left-70 {
  left: 70%;
}
.left-71 {
  left: 71%;
}
.left-72 {
  left: 72%;
}
.left-73 {
  left: 73%;
}
.left-74 {
  left: 74%;
}
.left-75 {
  left: 75%;
}
.left-76 {
  left: 76%;
}
.left-77 {
  left: 77%;
}
.left-78 {
  left: 78%;
}
.left-79 {
  left: 79%;
}
.left-80 {
  left: 80%;
}
.left-81 {
  left: 81%;
}
.left-82 {
  left: 82%;
}
.left-83 {
  left: 83%;
}
.left-84 {
  left: 84%;
}
.left-85 {
  left: 85%;
}
.left-86 {
  left: 86%;
}
.left-87 {
  left: 87%;
}
.left-88 {
  left: 88%;
}
.left-89 {
  left: 89%;
}
.left-90 {
  left: 90%;
}
.left-91 {
  left: 91%;
}
.left-92 {
  left: 92%;
}
.left-93 {
  left: 93%;
}
.left-94 {
  left: 94%;
}
.left-95 {
  left: 95%;
}
.left-96 {
  left: 96%;
}
.left-97 {
  left: 97%;
}
.left-98 {
  left: 98%;
}
.left-99 {
  left: 99%;
}
.left-100 {
  left: 100%;
}
